<hr/>

<%= simple_form_for(@request_for_change) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="tabbable">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_requestor" data-toggle="tab">Section 1: Requestor</a></li>
        <li><a href="#tab_management" data-toggle="tab">Section 2: Management</a></li>
        <li><a href="#tab_security" data-toggle="tab">Section 3: Security Officer</a></li>
        <li><a href="#tab_implementor" data-toggle="tab">Section 4: Implementor</a></li>
        <li><a href="#tab_audit_log" data-toggle="tab">Section 5: Audit Log</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_requestor">
          <% f.with_options disabled: !@request_for_change.request_section_editable? do |g| %>
            <%= render 'form_requestor', :f => g %>
          <% end %>
        </div>

        <div class="tab-pane" id="tab_management">
          <% f.with_options disabled: not(@request_for_change.management_section_editable?) do |g| %>
            <%= render 'form_management', :f => g %>
          <% end %>
        </div>

        <div class="tab-pane" id="tab_security">
          <% f.with_options disabled: not(@request_for_change.security_officer_section_editable?) do |g| %>
            <%= render 'form_security', :f => g %>
          <% end %>
        </div>

        <div class="tab-pane" id="tab_implementor">
          <% f.with_options disabled: not(@request_for_change.implementation_section_editable?) do |g| %>
            <%= render 'form_implementor', :f => g %>
          <% end %>
        </div>

        <div class="tab-pane" id="tab_audit_log">
          <%= render 'audit_log' %>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
