<div class="container well">
  <h2>Section 4: Implementor</h2>
  <hr/>

  <div class="row-fluid">
    <%= f.input :implementor_name_with_description, disabled: true %>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <%= f.input :implementation_status, collection: RequestForChange::IMPLEMENTATION_STATUSES, as: :radio_buttons %>
    </div>
    <div class="span8">
      <%= f.input :implement_comments, label: 'Implementation comments', as: :text, :input_html => { rows: 4, class: 'span10' } %>
    </div>
  </div>

  <div class="row-fluid">
    <%= f.input :implementation_start %>
    <%= f.input :implementation_end %>
  </div>
</div>