<hr/>

<%= simple_form_for(@request_for_change) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= render 'form_requestor', :f => f %>

    <%= render 'form_management', :f => f %>

    <%= render 'form_security', :f => f %>

    <%= render 'form_implementor', :f => f %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
