<h1>RFCs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>RFC ID</th>
      <th>Tracker</th>
      <th>Description</th>
      <th>Criticality</th>
      <th>Implementation?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_changes.each do |rfc| %>
      <tr>
        <td><%= rfc.rfc_id %></td>
        <td>
          <%= link_to 'Webteh', rfc.webteh_tracking_url, class: 'btn btn-small', target: '_blank' if rfc.webteh_tracking_url.present? %>
          <%= link_to 'NOC',    rfc.noc_tracking_url, class: 'btn btn-small', target: '_blank' if rfc.noc_tracking_url.present? %>
        </td>
        <td><%= rfc.description_of_change %></td>
        <td><%= rfc.criticality_of_change %></td>
        <td><%= rfc.implementation_status_for_show %></td>
        <td><%= link_to 'Edit', edit_request_for_change_path(rfc), class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request for change', new_request_for_change_path %>
