<h1>RFCs</h1>

<%= form_tag request_for_changes_path, :method => :get do %>
  <b>User:</b> <%= select_tag "user", options_for_select(@users.collect {|c| [  c.full_name, c.id ] }), :prompt => "Select user", :onchange => "this.form.submit();" %>
<% end %>

<% if params[:user] %>
  <h4 class="info"> RFCs in which <i><%= User.find(params[:user]).full_name %></i> participates </h4>
<% end %>

  <%= render 'shared/paginator_with_totals', :model => @request_for_changes %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>RFC ID</th>
      <th>Tracker</th>
      <th>Description</th>
      <th>People</th>
      <th>Criticality</th>
      <th>Implementation?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_changes.each do |rfc| %>
      <tr>
        <td><%= rfc.rfc_id %></td>
        <td>
          <%= link_to 'Webteh', rfc.webteh_tracking_url, class: 'btn btn-small', target: '_blank' if rfc.webteh_tracking_url.present? %>
          <%= link_to 'NOC',    rfc.noc_tracking_url, class: 'btn btn-small', target: '_blank' if rfc.noc_tracking_url.present? %>
        </td>
        <td><%= rfc.description_of_change %></td>
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= pretty_dropdown_link_for_person rfc, :requestor %></li>
              <li><%= pretty_dropdown_link_for_person rfc, :management_approver  %></li>
              <li><%= pretty_dropdown_link_for_person rfc, :security_approver %></li>
              <li><%= pretty_dropdown_link_for_person rfc, :implementor %></li>
            </ul>
          </div>
        </td>
        <td><%= rfc.criticality_of_change %></td>
        <td><%= rfc.implementation_status_for_show %></td>
        <td><%= link_to 'Edit', edit_request_for_change_path(rfc), class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @request_for_changes %>
<br>

<%= link_to 'New Request for change', new_request_for_change_path %>
