<% entity.versions.reverse.each do |version| %>

  <% whodunnit = User.find_by_id(version.whodunnit) %>

  <h4>Version <%= version.index+1 %>: <%= version.event %> by <%= whodunnit.try(:name_with_description) || 'unknown' %> <%= distance_of_time_in_words_to_now(version.created_at) %> ago</h4>
  <p><strong>Time: </strong> <%= version.created_at %></p>

  <table class="table table-striped table-condensed">
    <thead>
      <th>Attribute</th>
      <th>Old Value</th>
      <th>New Value</th>
    </thead>
    <tbody>
      <% version.changeset.except(:updated_at).each do |attribute, values| %>
        <tr>
          <td><%= attribute.humanize %></td>
          <% if attribute == 'implementor_id' || attribute == 'management_approver_id' || attribute == 'security_approver_id' %>
            <td><pre><%= User.find_by_id(values.first).try(:name_with_description) || 'unassigned' %></pre></td>
            <td><pre><%= User.find_by_id(values.last).try(:name_with_description) || 'unassigned' %></pre></td>
          <% else %>
            <td><pre><%= values.first %></pre></td>
            <td><pre><%= values.last %></pre></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr/>

<% end %>